.spinner {
    margin: 20px;
    width: 3rem;
    height: 3rem;
    border-top: 4px solid rgba(3, 32, 115, 0.8);
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


